/* Название калькулятора, картинка, описание */
noindex{
    display: none;
}
.calc-title {
    margin-top: 10px;
    background-color: #487fe2;
    text-align: center;
    color:  white;
}

.calc-title h1 {
    padding: 25px 20px 0px 20px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.calc-title h3 {
    padding: 4px 20px 12px 20px;
    color: #e8f0ff;
    font-size: 17px;
}

.calc-img-desc {
    display: flex;
    background-color: #fff;
}

.calc-img {
    padding-left: 15px;
}

.calc-desc {
    padding-left: 8px;
}

.calc-desc p {
    padding-bottom: 15px;
    font-size: 12px;
}

.calc-desc p.about-browser{
    font-weight: bold;
    font-size: 11px;
}

.calc-desc p:first-child {
    padding-top: 10px;
}

.pt-l-ad .container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/* Этапы теста */

.location {
    /*width: 255px;*/
    padding-right: 30px;
}

.location-title,
.additional-data-title,
.room-size-title,
.structure-title,
.completeness-test-title,
.standards-title,
.core-data-title,
.conclusion-title,
.admin-title {
    /* height: 66px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #487fe2;
}

.location-title h3,
.additional-data-title h3,
.room-size-title h3,
.structure-title h3,
.completeness-test-title h3,
.standards-title h3,
.core-data-title h3,
.conclusion-title h3,
.admin-title h3 {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

/* Местоположение объекта */

.location form,
.additional-data form {
    padding: 10px 12px 23px 14px;
    background-color: #fff;
}

.location form p,
.additional-data form p {
    padding: 15px 0px;
    color: #0a0a0a;
    font-size: 12px;
    font-weight: 300;
}

/* Номер региона */

.region-number, .city, .area {
    padding-bottom: 15px;
    border-bottom: 1px solid #84d758;
}

.input-label-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-label-info input {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}


.form-label-verified,
.form-label-cancel,
.form-label-danger {
    display: flex;
    justify-items: flex-end;
    margin-right: 5px;
}

.label-info_block {
    display: flex;
    align-items: center;
}

/* Область */

.area {
    padding-bottom: 15px;
}

.area .input-label-info input,
.area .input-label-info input::placeholder {
    color: #dc3a3a;
}

/* Город */

.city {
    padding-bottom: 15px;
}

.city .input-label-info input,
.city .input-label-info input::placeholder {
    color: #e68f21;
}

/* Дополнительные данные */

.additional-data {
    width: 540px;
}

/* Индивидуальное здание */

.individual,
.floors,
.resident {
    padding-bottom: 15px;
}

.additional-data-form input {
    width: 90%;
}
.additional-data-form select {
    width: 90%;
}
.windows .additional-data-form select {
    width: 100%;
}

/*.individual .input-label-info input,*/
.individual .input-label-info input::placeholder,
    /*.floors .input-label-info input,*/
.floors .input-label-info input::placeholder,
    /*.resident .input-label-info input,*/
.resident .input-label-info input::placeholder {
    /*color: #d0d7db;*/
    color: #989b9c;
}
.individual .input-label-info input,
    /*.individual .input-label-info input::placeholder,*/
.floors .input-label-info input,
    /*.floors .input-label-info input::placeholder,*/
.resident .input-label-info input
    /*.resident .input-label-info input::placeholder*/ {
    color: #303131;
}

/* Размеры помещений */

.room-size-title h3,
.structure-title h3,
.standards-title h3,
.core-data-title h3,
.conclusion-title h3,
.admin-title h3 {
    font-size: 16px;
}

.room-size-structure .container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/*.room-size {*/
/*    width: 740px;*/
/*}*/

.name-room-form {
    display: flex;
    background-color: #fff;
    padding-bottom: 20px;
}

.name-room p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
}

.name-room .first-child {
    padding-top: 100px;
}
.for_multistory p:first-child{
    padding-top: 40px;
}
.for_multistory p{
    padding-top: 22px;
    text-align: left;
}

.room-size-form {
    display: flex;
    justify-content: space-between;
    /*width: 600px;*/
    width: 80%;
    padding-right: 10px;
}

.floor-space,
.area-outer-wall,
.area-outer-roof,
.room-volume,
.number-rooms {
    width: 140px;
    padding-top: 25px;
}

.floor-space input,
.area-outer-wall input,
.area-outer-roof input,
.room-volume input,
.number-rooms input,
.outer-wall input,
.structure-roof input,
.lower-floor input {
    width: calc(100% - 2px);
    height: 30px;
    margin-top: 28px;
    border: 1px solid #d7d7d7;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-left: 4px;
    border-radius: 4px;
}

/* Конструкция помещений */

.structure {
    width: 370px;
}

.structure-title {
    align-items: center;
}

.structure-content {
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 20px;
}

.structure-content .name-room {
    display: none;
}

.horizontal-hr {
    display: flex;
    justify-content: space-between;
    width: 335px;
    margin: 0 auto;
    border-top: 1px solid #487fe2;
}

.vertical-hr {
    margin-top: 2px;
    height: 23px;
    border-left: 1px solid #487fe2;
}

.horizontal-hr .vertical-hr:first-child {
    margin-left: 40px;
}

.horizontal-hr .vertical-hr:last-child {
    margin-right: 58px;
}

.structure form {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.outer-wall {
    width: 95px;
}

.outer-wall input,
.structure-roof input,
.lower-floor input {
    width: 37px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.input-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input-form input:first-child {
    margin-top: 15px !important;
}
.input-form input[type='checkbox']{
    margin-top: 33px;

}
.for_multistory input[type='checkbox']{
    margin-top: 27px !important;
}
.for_multistory{
    text-align: center;
}
.structure-roof {
    width: 80px;
    margin-bottom: 13px;
}

.structure-roof p {
    text-align: center;
}

.structure-roof p {
    padding-bottom: 22px;
}

.lower-floor {
    width: 130px;
}

.lower-floor input {
    margin-left: 30px;
    margin-right: 30px;
}

/* Прохождение теста и нормативы */

.completeness-test-standards-core-data-conclusion-admin .container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 320px;
}

/* Прохождение теста */
/*.completeness-test-standards {*/
/*    width: 255px;*/
/*}*/

.completeness-test-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.completeness-test-content p {
    padding-top: 20px;
    font-size: 15px;
    color: #a4a4a4;
    font-weight: 300;
}

/* Нормативы */

.standards {
    /*padding-top: 20px;*/
}

.standards-title h3 {
    font-size: 10px;
}

.standards-content {
    padding: 14px 10px 30px 18px;
    background-color: #fff;
}

.standards-content p {
    padding-top: 8px;
    font-size: 10px;
}

/* Основные данные, вывод резулбтатов, админ. область */

.core-data-content {
    background-color: #fff;
}
.core-data-content input{
    width: 100px;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    padding-left: 8px;
}
.data {
    display: flex;
    justify-content: space-between;
    width: 785px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.data-name {
    width: 600px;
    padding-left: 5px;
}

.data-value {
    width: 120px;
    text-align: center;
}

.core-data-content .data:last-child {
    padding-bottom: 20px;
    border-bottom: none;
}




.for-data-compare .data-name {
    /* width: 530px; */
}
/* Кнопки: Ввод; Очистить вкладку; Очистить весь расчёт. */

/*.btn {*/
/*display: flex;*/
/*justify-content: space-between;*/
/*padding-top: 15px;*/
/*}*/

.btn_block {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 15px;
    margin: 20px 0;
}

.btn-input,
.btn-clear,
.btn-clear-all {
    width: 255px;
}

.btn-input a,
.btn-clear a,
.btn-clear-all a {
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.btn-input a p,
.btn-input .a_p,
.btn-clear a p,
.btn-clear-all a p {
    /*height: 18px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #487fe2;
    font-size: 14.4px;
    color: #487fe2;
    font-weight: 400;
}

.log_a_p{

position:  relative;

margin: 20px auto;

/* height: 18px; */

border: 1px solid #487fe2;

color: #487fe2;

font-weight: 400;

width: 100%;

text-align: center;

padding: 10px 27px;

background-color: #f9f9f9;

font-family: 'Montserrat', sans-serif;

font-size: 12px;
}

.btn-input a p:hover,
.btn-input .a_p:hover,
.btn-clear a p:hover,
.btn-clear-all a p:hover {
    background-color: #487fe2;
    color: #fff;
}

.btn-input p,
.btn-clear p,
.btn-clear-all p {
    padding-top: 8px;
    font-size: 8px;
    font-weight: 300;
    color: #bbbbbb;
    text-align: center;
    color: #0a0a0a;
    font-size: 10px;
}

/* Вывод результатов */

.conclusion {
    padding-top: 20px;
}

.conclusion-content {
    /*height: 300px;*/
    background-color: #fff;
}
#conclusion_content{
    display: none;
}
.type-result {
    /*display: flex;*/
    justify-content: space-between;
    /*width: 470px;*/
    padding-top: 30px;
    margin: 0 auto;
    border-bottom: 1px solid #dedede;
}

.type-result li {
    text-decoration: none;
    color: #a4a4a4;
    padding-bottom: 10px;
    /*margin: 0px 15px*/
}

.type-result .panel-heading ul{
    /*display: inline-block;*/
}
.type-result .panel-heading{
    text-align: center;
}

/*.type-result .active, .type-result li:hover .type-result li a:hover{*/
/*border: none !important;*/
/*}*/

.type-result .nav-tabs>li.active>a:hover, .type-result .nav-tabs>li.active>a, .type-result .nav-tabs>li>a:hover, .type-result .nav-tabs>li>a{
    border: none;
    background: none;
}
.type-result .nav-tabs{
    border: none;
}

.type-result li:hover,
.type-result .active
{
    font-weight: 600;
    color: #487fe2;
    border-bottom: 3px solid #487fe2;
}

#panel_tab_city{
    margin: 0 29%;
}
#panel_tab_result{
    float: left;
}
#panel_tab_building{
    float: right;
}
/* Админ. область */

.admin {
    padding-top: 20px;
}

.admin-content {
    /*height: 300px;*/
    background-color: #fff;
}



.additional-data-form select{
    /*border: none;*/
}



.additional-data-form .form-control{
    /*box-shadow: inset -1px -1px 1px rgba(0,0,0,.075);*/
    box-shadow: inset -1px -1px 1px rgba(0,0,0,.5);
}

.additional-data-form .form-control:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.alert-dismissible{
    text-align: center;
}

.indicator {
    min-width: 50px;
    background-color: #28d428;
    height: 44px;
    margin-right: 10px;
}

.name-room{
    width: 160px;
}

.post_content {
    background-color: white;
    padding: 25px;
}
.post_content table td, .post_content table th{
    border: 1px solid #ddd;
    padding: 8px;
}
.post_content table tr:hover {background-color: #ddd;}

.core-data-content_windows .data-name{
    width: 30%;
}
.core-data-content_windows .data-value_desc{
    width: 100%;
    text-align: left;
}

.g-recaptcha{
    margin: 0 auto;
    display: table;
}

.location-form .input-label-info .form-control{
    width: 75%;
}


/*help styles*/


.help-info[data-id="13"]{
    position: relative;
    float: right;
    top: 32px;
}

.help-info[data-id="16"]{
    position: absolute;
    left: 250px;
    top: -5px;
}

.help-info[data-id="15"]{
    position: absolute;
    right: 26px;
    top: 6px;
}

.help-info[data-id="27"]{
    position: absolute;
    left: 130px;
    top: 8px;
}

.help-info[data-id="28"]{
    position: absolute;
    right: 145px;
    top: 8px;
}

.help-info[data-id="24"]{
    position: absolute;
    right: 65px;
    top: 8px;
}

.help-info[data-id="25"]{
    position: absolute;
    right: 65px;
    top: 8px;
}

.help-info[data-id="26"]{
    position: absolute;
    left: 162px;
    top: -38px;
}


/*end help styles */


.modal-content .modal-footer input{
    float: left;
}

.modal-content .modal-footer button{
    float: right;
}

.individual_win {
    width: 50%;
    float: left;
    position: relative;
    padding-bottom: 15px;
}

.admin-content_windows{
    padding: 15px;
    display: none;
}

.win_basic_data{
    display: none;
}

#table_heating{
    padding: 15px;
}

.win_btn_block div{
    margin-right: 10px;
}


.com_button{
    font-size: 9px;
    width: 57px;
}
#t01_ .button_td{
    background-color: white;
    /*border-bottom: none;*/
    /*display: none;*/
}

@media (min-width: 768px){
    #myModalMaterial .modal-dialog {
        width: 70%;
    }
}
@media (max-width: 768px){
    .admin-title {
        height: auto;
    }
    .calc-img{
        display: none;
    }
}

.material-item{
    cursor: pointer;
}
#myModalMaterial a{
    text-decoration: none;
}

#ol .margin-li input[name=mat_cat]{
    width: 300px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    background-color: #dddddd;
}
.block_2 input[name=mat_cat]{
    background-color: #dddada;
}

#for-estimate td,#for-estimate th{
    padding: 8px;
}

.calc-title .calc-content{
    font-size: 12px;
    padding: 4px 20px 12px 20px;
}

.calc-title hr{
    margin: 8px 54px;
    border-top: 1px solid #ccc;
}

.admin-title h3 a{
    color: white;
}
.admin-title h3 a:hover{
    color: #c1c1c1;
    text-decoration: none;
}

.admin .for-guest{
    font-size: 13px;
}

.general-data-table{
    background-color: #ffffff;
    /* text-align: center; */
    padding: 10px;
}

.inactive-data a{
    cursor: default;
    color: #ddd;
}
.general-data-table a:hover,
.general-data-table a:active,
.general-data-table a:focus{
    text-decoration: none;
}

.btn_block div{
    margin: 5px
}

.deactivate_link{
    cursor: default;
    color: #E0E0E0;
}
