.passing-test-inner-surface .container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 310px;
}

.inner-surface {
    width: 825px;
}

/* Заголовок блока и температура */

.inner-surface-title {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, rgb(200,71,74) 0%,rgb(255,255,255) 100%);
}

.inner-surface-title-top {
    background: linear-gradient(to top, rgb(200,71,74) 0%,rgb(255,255,255) 100%);
}

.inner-surface-title h2,
.inner-surface-title p {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}

.inner-surface-title h2 {
    padding-top: 28px;
}

.inner-surface-title p {
    margin-top: 15px;
    padding: 5px 8px 8px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.inner-surface-title p sup {
    font-size: 16px;
}

/* Материалы для несущей стены */

.carrier-materials {
    background-color: #fff;
    padding-bottom: 20px;
}

.title h4 {
    font-weight: 500;
    padding-left: 20px;
}

.form_block {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.carrier-materials-info,
.bearing-wall-info,
.block-size-info,
.thickness-seam-info {
    width: 11px;
    height: 11px;
    margin-left: 2px;
    background-color: #5c6d79;
}

.carrier-materials-form select,
.carrier-materials-form input,
.bearing-wall-form select,
.bearing-wall-form input,
.block-size-form input,
.thickness-seam-form input,
.type-wall-form select,
.type-wall-form input {
    padding: 10px 13px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    color: #7c7a7a;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.carrier-materials-form select {
    width: 300px;
    margin-left: 5px;
}

.carrier-materials-form input {
    width: 66px;
    padding: 10px 0;
    margin-left: 25px;
    text-align: center;
}

/* Кнопки управления материалом */

.btn {
    display: flex;
    /*padding-left: 38px;*/
}

.btn .up p,
.btn .down p,
.btn .del p,
.btn .edit p {
    width: 52px;
    height: 36px;
    margin-right: 8px;
    border-radius: 5px;
}

.btn .up p {
    background: #4c82e3 url(../img/up.png) no-repeat center;
}

.btn .down p {
    background: #4c82e3 url(../img/down.png) no-repeat center;
}

.btn .del p {
    background: #4c82e3 url(../img/del.png) no-repeat center;
}

/* Добавление нового материала */

.add-material {
    padding-top: 20px;
    padding-left: 20px;
}

.add-layer-material,
.add-layer-insulation,
.add-masonry-blocks,
.add-frame-construction {
    padding-top: 10px;
}

.add-layer-material a,
.add-layer-insulation a,
.add-masonry-blocks a,
.add-frame-construction a {
    color: #487fe2;
    text-decoration: none;
}

/* Внутренняя поверхность */

.bearing-wall form {
    padding-top: 8px;
}

.bearing-wall {
    padding-bottom: 30px;
    background: linear-gradient(135deg, rgb(109,179,242) 0%,rgb(233,228,228) 0%,rgb(207,207,207) 100%,rgb(207,207,207) 100%);
}

.bearing-wall .title {
    padding-top: 5px;
}
.bearing-wall-form h4{
    padding-left: 20px;
}
.bearing-wall h4 {
    padding-bottom: 10px;
}

.bearing-wall .title h4:nth-child(2) {
    padding-bottom: 12px;
}

.bearing-wall-form select {
    width: 300px;
    /*width: 568px;*/
    margin-left: 5px;
    background: linear-gradient(135deg, rgb(109,179,242) 0%,rgb(233,228,228) 0%,rgb(217,215,215) 100%,rgb(207,207,207) 100%);
}

.bearing-wall-form input,
.block-size-form input,
.thickness-seam-form input {
    width: 66px;
    padding: 10px 0;
    margin-left: 25px;
    text-align: center;
    background: linear-gradient(135deg, rgb(109,179,242) 0%,rgb(217,215,215) 0%,rgb(212,212,212) 100%,rgb(207,207,207) 100%);
}

.bearing-wall-form .btn {
    padding-left: 25px;
}

.bearing-wall-form select,
.bearing-wall-form input,
.block-size-form input,
.thickness-seam-form input {
    border: 1px solid #fff;
}

.block-size-form .title,
.thickness-seam-form .title {
    padding-top: 0;
}

.block-size-form .title h4,
.thickness-seam-form .title h4 {
    padding-left: 7px;
    padding-top: 0;
}

.block-size-form input {
    margin-left: 6px;
}

.thickness-seam-form input {
    margin-left: 54px;
}

.bearing-wall .add-material {
    padding-top: 8px;
}

/* Материалы после несущей стены */

.after-bearing-wall {
    padding-top: 25px;
    /*background: linear-gradient(to bottom, rgb(109,179,242) 0%,rgb(217,215,215) 0%,rgb(255,255,255) 0%,rgb(255,255,255) 62%,rgb(190,205,232) 83%,rgb(121,161,234) 100%,rgb(207,207,207) 100%);*/
    background: linear-gradient(to bottom, rgb(109,179,242) 0%,rgb(217,215,215) 0%,rgb(255,255,255) 0%,rgb(255,255,255) 28%,rgb(190,205,232) 60%,rgb(77, 129, 226) 100%,rgb(207,207,207) 100%);
}
.carrier-materials_roof {
    padding-top: 25px;
    background: linear-gradient(to bottom, rgb(242, 90, 90) 0%, rgb(217, 197, 195) 0%,rgb(255,255,255) 0%,rgb(255,255,255) 28%,rgb(237, 197, 199) 60%,rgb(202, 77, 80) 100%,rgb(207,207,207) 100%);
}
.after-bearing-roof {
    padding-top: 25px;
    background: linear-gradient(to top, rgb(109,179,242) 0%,rgb(217,215,215) 0%,rgb(255,255,255) 0%,rgb(255,255,255) 28%,rgb(190,205,232) 60%,rgb(77, 129, 226) 100%,rgb(207,207,207) 100%);
}

.after-bearing-wall .title h4 {
    padding-bottom: 5px;
}

.after-bearing-wall form {
    padding-top: 15px;
}

.carrier-materials-form select {
    width: 300px;
}

.carrier-materials-form input {
    margin-left: 8px;
}

.after-bearing-wall .btn {
    padding-left: 8px;
}

.btn .edit p {
    background: #4c82e3 url(../img/pencil-edit-button.png) no-repeat center;
}

.after-bearing-wall .add-material {
    padding-top: 10px;
}

/* Наружная температура */

.ambient-temperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
}

.ambient-temperature h2 {
    padding-left: 20px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}

.least-average-temperature {
    width: 285px;
    padding-right: 30px;
}

.least-temperature,
.average-temperature {
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.least-temperature p sup,
.average-temperature p sup {
    font-size: 10px;
}

.least-temperature-desc,
.average-temperature-desc {
    padding-right: 12px;
    font-size: 10px;
    text-align: right;
}

.temp {
    font-size: 14px;
    padding: 4px 2px 3px 4px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.average-temperature {
    padding-top: 8px;
}

/* Тип конструкции стены */

.type-wall {
    padding-top: 20px;
}

.type-wall-form {
    padding-top: 0;
    align-items: flex-start;
}

.type-wall-construction {
    padding-left: 20px;
}

.type-wall-construction .title h4,
.type-wall-coeff .title h4 {
    padding-left: 0;
    padding-bottom: 15px;
}

.type-wall-form select {
    max-width: 480px;
    margin-left: 0px;
}

.type-wall-form input {
    width: 100%;
}

.type-wall-coeff {
    padding-left: 10px;
}

/*my style*/

.passing-test-inner-surface form{
    display: flex;
}

/*.passing-test-inner-surface .btn{*/
    /*padding: 0 0 0 38px;*/
/*}*/

.add-fields li{
    display: flex;
}