section .profile_container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 340px;
}

form h1 {
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
}

.profile-img {
    display: flex;
    justify-content: center;
    width: 160px;
    height: 160px;
    padding: 6px;
    margin: 0 auto;
    border: 1px dashed #bfbfbf;
    border-radius: 5px;

}

.profile-img input {
    background-color: #d9d9d9;
}

.profile-img input image {
    width: 100px;
}

.profile-img a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    margin: 0;
    border-radius: 5px;
}

form h2 {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}

form input,
form select {
    width: 495px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid #e6e6e6;
    /*border-radius: 5px;*/
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

form input::placeholder {
    color: #9a9a9a;
}

form select {
    text-align-last: center;
}

form .submit input {
    cursor: pointer;
    margin-top: 70px;
    /*background: #669d07;*/
    /*border: none;*/
    /*color: #b9d28d;*/
}

form.material-form input{
    text-align: left;
}
form.material-form input[type=submit]{
    text-align: center;
}

.link-name .copy-link {
    float: right;
}