body {
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
#upbutton {
    background: url(../img/up.png) no-repeat top left;
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}
h1, h2, h3, h4, h5, h6, a, p {
    padding: 0;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

/* Меню */

nav .container {
    justify-content: space-between;
    align-items: center;
}

nav .container,
nav ul,
nav ul li,
nav ul li a {
    display: flex;
}

nav {
    justify-content: space-between;
    background-color: #487fe2;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 30px;
    list-style: none;
    /*height: 55px;*/
}

nav ul li a {
    padding: 24px 0px 15px 0px;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.adaptive-menu a:hover, .adaptive-menu a:focus{
    text-decoration: none;
    color: #fff;
}

nav ul li a img {
    padding-right: 8px;
}

header nav ul li {
    border-bottom: solid #497ee1;
}
.active-menu,
header nav ul li:hover {
    border-bottom: 3px solid #fff;
    /*font-size: 17px;*/
    /*transition: font-size 0.3s;*/
}

.active-menu a:hover {
    border-bottom: none;
}

/* Изображение пользователя, имя пользователя, вход в кабинет, выход */

.user {
    display: flex;
    align-items: center;
}

.user-img {
    display: flex;
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.user-img img {
    border-radius: 5px;
}

.user-name {
    padding-left: 8px;
}

.user-name p {
    margin-bottom: 5px;
    font-weight: 600;
    color: #fff;
}

.user-cabinet-log-out {
    display: flex;
}

.user-cabinet-log-out a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

.point {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    margin: auto 0;
    margin-left: 4px;
    margin-right: 4px;
}

/* Этапы теста */

.passing-test {
    width: 255px;
    float: left;
    padding-right: 30px;
}

.passing-test-title {
    height: 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #487fe2;
}

.passing-test-title h3 {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.passing-test-content {
    background-color: #fff;
}

.passing-test-content-sequence {
    padding-top: 15px;
    padding-bottom: 13px;
    margin: 0 10px;
    border-bottom: 1px solid #fafafa;
}
.passing-test-content-sequence p a{
    text-decoration: none;
}
.passing-test-content-sequence p.active a{
    color: #252525;
}
.passing-test-content-sequence p:hover{
    font-size: 14px;
}

.passing-test-content-sequence p.active{
    font-size: 16px;
    color: #252525;
}
.passing-test-content-sequence p {
    padding-left: 5px;
    color: #d6d6d6;
    font-size: 12px;
}


.passing-test-content-sequence p{
    transition: font-size 0.3s;
}

.input,
.not-entered,
.entered,
.not-correspond,
.blank {
    display: flex;
    align-items: center;
}

.input p {
    font-size: 16px;
    color: #252525;
}

.blank p {
    color: #bdbdbd;
}

/* Значок этапа */

.input-label {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #66ae39 url(../img/right-arrow.png) no-repeat center;
}

.not-entered-label,
.entered-label,
.not-correspond-label,
.blank-label {
    width: 16px;
    height: 16px;
    padding: 3px;
    border-radius: 50%;
}

.not-entered-label {
    background: #db0100 url(../img/close.png) no-repeat center;
    border: 1px solid #db0100;
    background-clip: content-box;
}

.entered-label {
    background: #84d758 url(../img/tick.png) no-repeat center;
    border: 1px solid #84d758;
    background-clip: content-box;
}

.not-correspond-label {
    background: #efbf2d url(../img/warning-sign.png) no-repeat center;
    border: 1px solid #efbf2d;
    background-clip: content-box;
}

.blank-label {
    border: 1px solid #bcbcbc;
}

.label-line-first {
    height: 10px;
    margin-left: 11px;
    border-left: 1px solid #84d758;
}

.label-line {
    height: 6px;
    margin: 1px 15px;
    border-left: 1px solid #bdbdbd;
}

.passing-test-content-label-desc {
    margin: 0px 4px;
    padding-bottom: 10px;
}

/* Описание значков этапа */

.label-title h4 {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.label-description p {
    padding-left: 8px;
    font-size: 9px;
    font-weight: 300;
    color: #8c8c8c;
}

.label-description .not-entered {
    padding-top: 11px;
}

.label-description .entered,
.label-description .not-correspond {
    padding-top: 6px;
}

.label-description .not-entered-label,
.label-description .entered-label,
.label-description .not-correspond-label {
    width: 11px;
    height: 11px;
    padding: 2px;
}

.label-description .not-entered-label {
    background-image: url(../img/close-small.png);
}

.label-description .entered-label {
    background-image: url(../img/tick-small.png);
}

.label-description .not-correspond-label {
    background-image: url(../img/warning-sign-small.png);
}

/* Значок инфо */

.region-number-info,
.area-info,
.city-info,
.individual-info,
.floors-info,
.resident-info,
.carrier-materials-info,
.bearing-wall-info,
.block-size-info,
.help-info,
.thickness-seam-info {
    position: relative;
    /*cursor: help;*/
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 14px;*/
    /*height: 14px;*/
    border-radius: 50%;
    /*background-color: #f5f5f5;*/
    background-color: #a7a7a7;
    width: 18px;
    height: 18px;
    margin: 6px;
}

.region-number-info::before,
.area-info::before,
.city-info::before,
.individual-info::before,
.floors-info::before,
.resident-info::before,
.carrier-materials-info::before,
.bearing-wall-info::before,
.block-size-info::before,
.thickness-seam-info::before,
.help-info::before {
    content: '?';
    /*font-size: 9px;*/
    /*color: #d5d5d5;*/
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.region-number-info:hover,
.area-info:hover,
.city-info:hover,
.individual-info:hover,
.floors-info:hover,
.resident-info:hover,
.carrier-materials-info:hover,
.bearing-wall-info:hover,
.block-size-info:hover,
.thickness-seam-info:hover,
.help-info:hover {
    background-color: #619beb;
}

/* Всплывающая подсказка */

/*.info {*/
/*    background: #fff;*/
/*    display: none;*/
/*    position: absolute;*/
/*    width: 145px;*/
/*    padding: 8px;*/
/*    border-radius: 4px;*/
/*    box-shadow: 0px 2px 8px 0.1px #d5d5d5;*/
/*}*/

/*.region-number-info .info p,*/
/*.area-info .info p,*/
/*.city-info .info p,*/
/*.individual-info .info p,*/
/*.floors-info .info p,*/
/*.resident-info .info p,*/
/*.carrier-materials-info .info p,*/
/*.bearing-wall-info .info p,*/
/*.block-size-info .info p,*/
/*.thickness-seam-info .info p {*/
/*    padding: 0;*/
/*    font-size: 9.5px;*/
/*    color: #535657;*/
/*}*/

/*.region-number-info:hover .info,*/
/*.area-info:hover .info,*/
/*.city-info:hover .info,*/
/*.individual-info:hover .info,*/
/*.floors-info:hover .info,*/
/*.resident-info:hover .info,*/
/*.carrier-materials-info:hover .info,*/
/*.bearing-wall-info:hover .info,*/
/*.block-size-info:hover .info,*/
/*.thickness-seam-info:hover .info {*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: -58px;*/
/*    left: -50px;*/
/*}*/

/*!* Стрелка внизу блока подсказки *!*/

/*.info::before, .info::after {*/
/*    content: ''; */
/*    position: absolute;*/
/*    left: 52px; */
/*    bottom: -10px;*/
/*    border: 5px solid transparent;*/
/*    border-top: 5px solid white;*/
/*}*/

/* Меню подвала */

footer {
    background-color: #487fe2;
}

footer .container {
    position: relative;
}

.project-img {
    position: absolute;
    z-index: -1;
    top: -330px;
    left: -350px;
}

.project-img img {
    width: 540px;
}

footer nav ul li {
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 16px;
}

footer nav ul li a {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
}

.contact-copyright {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.contact {
    display: flex;
}

.contact p,
.copyright p {
    font-size: 14px;
    color: #fff;
}

footer .point {
    width: 7px;
    height: 7px;
    margin-left: 10px;
    margin-right: 10px;
}
/*my styles */
input:focus{
    outline: none;
}
* {
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
}
.container:after{
    content: none;
}

li.margin-li{
    padding: 8px 0;
}

.margin-li a.btn{
    padding: 12px 18px;
    background-color: #4c82e3;
}

.carrier-materials, .bearing-wall, .after-bearing-wall{
    padding: 15px;
}

#ol{
    padding: 0;
    margin-bottom: 50px;
}

#Data{
    overflow: auto;
}

.td_table{
    display: none;
}

#other-input{
    display: none;
}

.width_90{
    width: 90%;
}

.c1{
    width: 820px;
    height: 500px;
    /*border: 3px solid black;*/
    /*margin: 40px;*/
    /*background-image: url(../img/setka.png);*/
    margin-top: 10px;
    margin-left: 25px;
}

.convas_heating{
    width: 500px;
    height: 350px;
    /*border: 3px solid black;*/
    /*margin: 40px;*/
    /*background-image: url(../img/grafik2.png);*/
    margin-top: 10px;
    margin-left: 25px;
}
.bearing-wall h4{
    font-size: 17px;
    font-weight: bolder;
}
.bearing-wall h3{
    font-size: 19px;
    font-weight: bolder;
}

.carrier-materials h4, .after-bearing-wall h4{
    font-size: 16px;
}

#waiting{
    background-color: #212929;
    z-index: 9999;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: wait;
}
.info-content{
    padding: 15px;
    background-color: white;
}


.green{
    color: green;
}

.red{
    color: red;
}

.passing-test-content-sequence .blank{
    padding: 3px;
    border-radius: 3px;

}
.passing-test-content-sequence .active_blank{
    box-shadow: 2px 1px 12px grey;
}

#recuperator_isset{
    display: none;
}

#table_heating .table th{
    background-color: aliceblue;
}

#table_heating{
    max-width: 800px;
}

.core-data{
    display: none;
}

.footer_menu li a:hover{
    text-decoration: none;
    color: #e0ebfd;
    /*color: #a3c7ff;*/
}

#modal_button{
    position: absolute;
    right: 60px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    /*background-color: #f9f9f9;*/
    background-color: #487fe2;
    color: #fff;

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border: 1px solid #9cbdf9;
}

#modal_button:hover{
    background-color: #6099ff;
}

#myModalHelp{
    /*margin-top: 250px;*/
    padding-top: 200px;
}



#preview_modal_button{
    position: relative;
    right: -9px;
    text-align: center;
    padding: 2px;
    top: 1px;
    background-color: #487fe2;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    border: 1px solid #9cbdf9;
}

#preview_modal_button:hover{
    background-color: #6099ff;
}

#previewModal .modal-dialog {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#previewModal .modal-body {
    text-align: center;
}
#previewModal .modal-content {
    height: auto;
    border-radius: 0;
}
#previewModal .modal-footer{
    text-align: left;
}

.label-info_block{
    position: relative;
}

.internal_info{
    position: absolute;
    right: -20px;
    top: -5px;
}

.schedule_block{
    text-align: center;
}

.room-size p{
    font-size: 14px;
}




.catalog-menu{
    margin-right: 20px
}

.catalog-menu a:hover{
    text-decoration: none;
}
.catalog-menu .blank .catalog-menu-item{
    padding: 2px 10px;
}

.post-block{
    min-height: 80.3vh;
    background-color: white;
    padding-top: 25px;
}

.post-block iframe{
    /*width: 80%;*/
    /*height: 500px;*/
}
.note_profile{
    font-size: 12px;
    padding: 8px;
    padding-bottom: 10px;
}
.blank-help a{

}
.blank-help{
    /*display: inline-block;*/
    margin-left: 20px;
}


.catalog-menu .blank-help .catalog-menu-item{
    padding: 10px 2px;
}

.blank-help span{
    font-size: 14px;
    padding: 0 6px;
}

.blank-sub{
    padding-left: 32px;
    font-size: 13px;
}

.saving-data-title{
    margin: 20px;
}
.post_date{
    padding: 20px;
}
.win_content_info{
    display: inline-flex;
}
.button_block_heating{
    display: inline-flex;
    width: 800px;
}

.heating_basic_data{
    width: 100%;
    display: none;
}

.name-room, .room-size-form{
    margin-top: 40px;
}
.room-size-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 11px;
}

#menu1{
    background-color: white;
    padding: 20px;
}
table#t01, table#t02{
    width:  100%;
}
table#t01 td, table#t02 td{
    padding: 10px;
    min-width: 20px;
}
table#t01 tr:nth-child(even), table#t02 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd), table#t02 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 tr:hover, table#t02 tr:hover{
    background-color: #d9d9d9;
}

.respons{
    width: 100%;
}
.not-focus:focus {
    outline: none;
    border: none;
    box-shadow: none;
    outline-offset: 0;
}

.log_a_p:hover{
    background-color: #487fe2;
    color: #fff;
}
#send-to-compare.log_a_p{
    margin: 20px auto;
    padding: 10px 27px;
    width: auto;
}
#send-to-compare{
    display: none;
}

#menu1{
    text-align: center;
}

/*compare*/
.compare_block{
    width: 75%;
    background-color: white;
    display: inline-block;
}

#t01_ td,#t01_ th{
    padding: 10px;
    border: solid #c7c7c7 1px;
}
#t01_ caption{
    text-align: center;
}


.heating-note{
    margin: 0 auto;
    width: 80%;
    background-color: white;
    padding: 10px;
    color: green;
    text-align: center;
    font-size: 11px;
}
#save_calculation .btn-clear a p{
    font-size: 21px;
    padding: 13px;
    font-weight: bolder;
}
.green-line{
    width:  100%;
    /*background-color: #84d857;*/
}

.green-line .btn-clear a p{
    background-color: #238024;
    border-color: #b4ffab;
    border-radius: 3px;
    color: white;
}
.green-line .btn-clear a p:hover{
    background-color: #3b713c;
}

/*
#t01_ th{
    transform:rotate(270deg);
}*/

.passing-test-content-sequence.deactivate-block .blank p:hover,
.passing-test-content-sequence.deactivate-block .blank p a:hover,
.passing-test-content-sequence.deactivate-block .blank p a{
    color: #E0E0E0;
    font-size: 12px;
    cursor: default;
}

.info-text_disabled_message{
    position: absolute;
    margin-top: -63px;
    margin-left: -36px;
    color: #fff;
    border: 1px solid #487ee2;
    padding: 5px;
    border-radius: 3px;
    background-color: #487ee2;
}

.info-text_disabled_message-header{
    position: absolute;
    color: white;
    background-color: #595a61;
    font-size: 13px;
    padding: 18px;
    border-radius: 4px;
}