/* Адаптивность */

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .additional-data {
        width: 420px;
    }
    .name-room {
        display: flex;
        flex-wrap: wrap;
        width: 100px;
    }
    .room-size-form {
        /*width: 520px;*/
        font-size: 14px;
    }
    .floor-space,
    .area-outer-wall,
    .room-volume,
    .number-rooms {
        width: 125px;
    }
    .horizontal-hr {
        width: 300px;
    }
    .structure form {
        font-size: 14px;
    }
    .outer-wall p,
    .lower-floor p {
        text-align: center;
    }
    .horizontal-hr .vertical-hr:first-child {
        margin-left: 45px;
    }
    .horizontal-hr .vertical-hr:last-child {
        margin-right: 70px;
    }
    #panel_tab_city{
        margin: 0 25%;
    }
    .data {
        width: 650px;
    }
    .btn-input, .btn-clear, .btn-clear-all {
        width: 220px;
    }
    /* Адаптивность Внутренняя поверхность */
    .inner-surface {
        width: 685px;
    }
    .bearing-wall-form select {
        width: 490px;
    }

    .post_content img{
        max-width: 100%;
    }


    .help-info[data-id="27"]{
        left: 75%;
    }

    .help-info[data-id="28"]{
        right: 1%;
    }
    .help-info[data-id="25"]{
        right: 1%;
    }
    .help-info[data-id="24"]{
        right: 1%;
    }

}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    /*++++++++++++++++++*/
    header nav ul li {
        border: none;
    }
    nav .container{
        display: table;
    }

    nav .container .adaptive-menu{
        float: left;
    }

    nav .container .user{
        float: right;
        padding-bottom: 20px;
    }
    /*++++++++++++++++++*/
    .container {
        width: 720px;
    }
    .passing-test,
    .location,
    .additional-data {
        /*width: 230px;*/
    }
    .input p {
        font-size: 14px;
    }
    .menu-toggle {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        color: #fff;
    }
    .menu-toggle::before {
        content: '\f0c9';
        font-family: 'fontAwesome';
        font-size: 40px;
        line-height: 40px;
    }
    .menu-toggle ul li img {
        display: none;
    }
    .menu-toggle ul li a {
        color: #000;
        text-align: left;
        padding-top: 20px;
        padding-left: 20px;
    }
    .adaptive-menu ul {
        display: none;
    }
    .adaptive-menu ul.active {
        display: block;
        width: 240px;
        background: #e6e6e6;
        border-radius: 5px;

        position: absolute;
        z-index: 1;
    }
    .adaptive-menu ul.active ul {
        display: block;
        margin-top: 0;
        padding-left: 20px;
    }
    .adaptive-menu ul.active ul .active {
        padding-bottom: 0;
        border-bottom: none;
    }
    .adaptive-menu ul.active ul li {
        padding-bottom: 10px;
    }
    .adaptive-menu ul.active ul .active {
        padding-bottom: 10px;
    }
    .room-size-structure .container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .name-room {
        width: 120px;
    }
    .room-size-form {
        /*width: 600px;*/
    }
    .structure {
        padding-top: 20px;
        width: 490px;
    }
    .structure-content {
        display: flex;
    }
    .structure-content .name-room {
        display: block;
    }
    .structure-content .name-room p:first-child {
        padding-top: 85px;
    }
    #panel_tab_city{
        margin: 0 0;
        float: left;
    }
    #panel_tab_result{
        float: left;
    }
    #panel_tab_building{
        float: left;
    }
    .core-data-title h3,
    .conclusion-title h3 {
        font-size: 14px;
    }
    .data {
        width: 460px;
    }
    .data-name {
        width: 116px;
    }
    .btn-input, .btn-clear, .btn-clear-all {
        width: 150px;
    }
    .btn-input a p, .btn-clear a p, .btn-clear-all a p {
        font-size: 10px;
        padding-bottom: 5px;
    }
    .type-result {
        width: 360px;
    }
    footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer nav ul li:last-child {
        margin-right: 0;
    }
    .contact-copyright {
        flex-wrap: wrap;
        justify-content: center;
    }
    .copyright {
        padding-top: 15px;
    }
    /* Адаптивность Внутренняя поверхность */
    .inner-surface {
        width: 480px;
    }
    .inner-surface-title h2, .inner-surface-title p {
        font-size: 16px;
    }
    .carrier-materials-form select {
        width: 240px;
    }
    .after-bearing-wall .carrier-materials-form select {
        width: 190px;
    }
    .carrier-materials-form input,
    .bearing-wall-form input {
        margin-left: 10px;
    }
    .btn,
    .bearing-wall-form .btn {
        padding-left: 10px;
    }
    .bearing-wall-form select {
        width: 314px;
    }
    .carrier-materials-form input {
        width: 46px;
    }
    .btn .up p, .btn .down p, .btn .del p, .btn .edit p {
        width: 42px;
    }
    .ambient-temperature h2 {
        font-size: 18px;
    }
    .type-wall-form select {
        /*width: 300px;*/
    }



    .room-size-form .inner-room-size-form{
        width: 16%;
    }

    .name-room p {
        width: 90%;
        padding-top: 33px;

    }
    .name-room p:first-child {
        width: 90%;
    }

    .name-room .first-child {
        padding-top: 107px;
        width: 90%;

    }
    /*.for_multistory p:first-child {*/
    /*    padding-top: 30px;*/
    /*}*/

    .name-room {
        display: block;
    }

    .completeness-test-standards{
        /*width: 100%;*/
    }


    /*.passing-test {*/
    /*    padding-right: 0px;*/
    /*}*/
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        /*width: 540px;*/
    }
    .calc-desc p {
        font-size: 12px;
    }
    .pt-l-ad .container {
        flex-wrap: wrap;
    }
    .passing-test, .location {
        /*width: 260px;*/
    }
    .additional-data {
        padding-top: 20px;
        width: 100%;
    }
    .room-size {
        width: 100%;
    }
    .name-room {
        width: 100px;
    }
    .floor-space, .area-outer-wall, .room-volume, .number-rooms {
        width: 105px;
    }
    .area-outer-wall p span,
    .area-outer-wall p br,
    .room-volume p span,
    .room-volume p br {
        display: none;
    }
    /*.floor-space p {*/
    /*    padding-bottom: 18px;*/
    /*}*/
    .completeness-test-standards-core-data-conclusion-admin .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    /*.completeness-test-standards {*/
    /*    width: 100%;*/
    /*}*/
    .completeness-test-content p {
        margin-left: 100px;
        margin-right: 100px;
    }
    .standards-content p {
        font-size: 10px;
    }
    .core-data-conclusion-admin {
        /*width: 100%;*/
        padding: 0 15px;
    }
    .heating_basic_data{
        padding: 0;
    }
    .core-data {
        padding-top: 20px;
    }
    .data {
        width: 500px;
    }
    .btn-input, .btn-clear, .btn-clear-all {
        width: 170px;
    }
    /* Адаптивность Внутренняя поверхность */
    .passing-test-inner-surface .container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .inner-surface {
        width: 100%;
        padding-top: 20px;
    }
    .carrier-materials-form select {
        width: 300px;
    }
    .after-bearing-wall .carrier-materials-form select {
        width: 250px;
    }
    .type-wall-form select {
        /*width: 360px;*/
    }


    .name-room .first-child {
        padding-top: 115px;
    }

    .footer_menu, .footer_menu li{
        display: inline-block;
    }

    #modal_button {
        position: inherit;
    }

    .container .inner-surface {
        width: 100%;
    }

    #ol .add-fields li {
        display: block;
    }

    #ol .add-fields .btn {
        display: inline-block;
    }

    .pt-l-ad .container .col-md-3 {
        padding: 0;
    }

    .passing-test, .location {
        width: 100%;
        padding: 10px 0;

    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .menu-toggle::before {
        font-size: 36px;
    }
    .calc-title h1 {
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }
    .calc-img-desc {
        flex-wrap: wrap;
    }

    .passing-test-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .passing-test-content-sequence {
        padding-bottom: 0;
    }
    .passing-test-content-label-desc {
        padding-top: 22px;
    }
    .name-room {
        align-content: flex-start;
    }
    .room-size-form {
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: calc(100% - 110px);
    }
    .structure-content {
        justify-content: center;
    }
    .structure-content .name-room {
        width: 80px;
        font-size: 11px;
    }
    .horizontal-hr {
        display: none;
    }
    .structure form {
        width: 200px;
        padding-left: 0;
        font-size: 10px;
    }
    .structure-content .name-room p:first-child {
        padding-top: 52px;
    }
    .structure-roof p {
        padding-bottom: 13px;
    }
    .conclusion-title {
        height: 74px;
    }
    .core-data-title h3,
    .conclusion-title h3 {
        font-size: 12px;
    }
    .data {
        width: 100%;
    }
    .data p {
        font-size: 14px;
    }
    .btn-input, .btn-clear, .btn-clear-all {
        width: 32%;
    }
    .btn-input a p, .btn-clear a p, .btn-clear-all a p {
        height: auto;
    }
    .type-result {
        width: 260px;
    }
    .type-result {
        font-size: 14px;
    }
    footer nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    footer nav ul li a {
        font-size: 12px;
    }
    .contact {
        flex-wrap: wrap;
    }
    .contact p {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .contact .point {
        display: none
    }
    .copyright p {
        text-align: center;
    }
    /* Адаптивность Внутренняя поверхность */
    .inner-surface-title p {
        display: inline-table;
        margin-top: 30px;
    }
    form {
        flex-wrap: wrap;
    }
    .carrier-materials-form select {
        width: 260px;
        margin-bottom: 10px;
    }
    .carrier-materials-form input, .bearing-wall-form input,
    .after-bearing-wall .carrier-materials-form input {
        margin-left: 17px;
    }
    .bearing-wall-form select {
        width: 260px;
        margin-bottom: 10px;
    }
    .bearing-wall-form input,
    .block-size-form input,
    .thickness-seam-form input {
        width: 40px;
    }
    .add-material {
        padding-left: 10px;
    }
    .ambient-temperature {
        flex-wrap: wrap;
    }
    .ambient-temperature h2 {
        padding-bottom: 10px;
    }
    .type-wall-construction {
        padding-left: 0;
        padding-bottom: 20px;
    }
    .type-wall-form {
        justify-content: center;
    }
    .type-wall-construction .title h4 {
        text-align: center;
    }

    /* Личные данные */
    .profile form {
        width: 100%;
    }
    form input, form select {
        width: 100%;
    }

    #panel_tab_city, #panel_tab_result, #panel_tab_building{
        width: 100%;
    }


    .label-info_block p, .hide_p{
        display: none;
    }
    .internal_info {
        right: -2px;
    }

    .name-room .first-child {
        padding-top: 48px;
    }

    .modal-footer input, .modal-footer button{
        width: 90%;
        margin: 8px;
    }
    .modal-content .modal-footer button{
        float: left;
    }


    .modal-content .modal-footer .btn+.btn {
        margin-bottom: 8px;
        margin-left: 8px;
    }

    .type-wall-form .type-wall-construction select {
        width: 90%;
    }


    .help-info[data-id="16"] {
        left: 90%;
    }

    .help-info[data-id="15"] {
        top: 40px;
    }

    .passing-test-content {
        display: block;
    }


    .help-info[data-id="25"]{
        top: 28px;
    }
    .help-info[data-id="24"]{
        top: 28px;
    }


    #table_heating .table{
        font-size: 8px;
    }
}

/* 320px - 425px */
@media screen and (max-width: 435px) {

    .help-info[data-id="13"]{
        top: 0px;
    }

    .ind_span{
        display: none;
    }
}
@media screen and (max-width: 415px) {
    footer nav ul li {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 0;
    }


}
