.right-toolbar{
    width: 200px;
    text-align: right;
}

.page-title{
    padding-top: 2.5rem;
}
.page-title h3{}

.setting-tabs {
    padding-bottom: 22px;
}

.heading-setting-section {}
.heading-setting-section a.btn {
    float: right;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
.edit-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.edit-menu li {
    margin-bottom: 8px;
    padding-left: 12px;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}
.edit-menu li input{
    outline: 0;
    border: 0;
    padding: 10px 14px;
    height: 100%;
    vertical-align: middle;
}
.edit-menu {}

.menu-item-event {
    display: inline-block;
    float: right;
    height: 38px;
    padding: 5px 12px;
    vertical-align: middle;
}
.menu-item-event i.icon-cursor-move{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    text-align: center;
    line-height: 29px;
    cursor: move;
}
.menu-item-event {}

.empty-items {
    padding: 25px 0px;
    margin-top: 22px;
}
.empty-items p {
    color: #afaeae;
}

.menu-list {
    margin-top: 25px;
    border: solid #f7f7f9;
}
.menu-list li{}
.menu-list li a{}
.menu-list li a.active{
    background: #f7f7f9;
    color: black;
}

.add-item-button {}
.add-item-button:hover{}

.button-remove {
    background: #ffffff;
    color: #ff5e5e;
    border: 0;
    cursor: pointer;
}
.button-remove i{
    line-height: 28px;
}

/* Custom css */
.top-header a.item i {
    margin-right: 0.3em;
}

.item.logo-item {
    padding-left: 0!important;
}
.item.logo-item img.logo {
    width: 3.7em!important;
}

.menu.top-header {
    min-height: 3.7em;
}

.ui.vertical.menu {
    width: initial;
}


#waiting{
    background-color: #212929;
    z-index: 9999;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: wait;
}

.settings-block{
    margin-top: 25px;
}

#add-general-field{
    position: absolute;
    right: 0;
}
#remove-general-field {
    position: absolute;
    right: 90px;
}

#general-fields input{
    margin-top: 10px;
}

.checkbox-block{
    text-align: left;
}

.checkbox-block label{
    position: relative;
    top: 5px;
    left: 10px;
}